@font-face {
  font-family: "Fonte Placa";
  src: url("../fonts/fonte-placa.woff2") format("woff2"),
    url("../fonts/fonte-placa.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  display: flex;
  align-items: center;
}
div#placa {
  border: 0.5625em solid black;
  border-radius: 1.5625em;
  width: clamp(100%, 62.5em, 100%);
  
  height: 20.125em;
  position: relative;
  margin: 0 auto;
}

#placa-header {
  height: 4.6875em;
  background-color: #003399;
  border-top-left-radius: 0.75em;
  border-top-right-radius: 0.75em;
  position: relative;
}
#placa-header p{
  font-family: "Fonte Placa";
  font-size: 2em;
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#numero-placa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 4.6875rem; 
  width: 100%;
  text-align: center;
}
.fonte-placa {
  font-family: "Fonte Placa";
  font-size: 10.625em;
}
